{{!
	This is a base partial file that represents a template for gallery's currently displayed image. It's used across all gallery templates. JS version of the gallery uses cached version of this file to quickly change currently displayed image.
}}
<div
	class="sen-gal-image sen-gal-current-image"
	style="background-image: url('{{ image.full }}')"
	data-index="{{ index }}"
	data-alt="{{ title }}"
	data-description="{{ description }}"></div>