<header class="sen-gal-header">
	<div class="sen-gal-col-left">
		<div class="sen-gal-counter">
			<span class="sen-gal-current-image-number">{{ gallery.current-image-number }}</span>/<span class="sen-gal-total-image-count">{{ gallery.total-image-count }}</span>
		</div>
		<h1 class="sen-gal-current-image-title">
			<span>{{ current-image.title }}</span>
		</h1>
	</div>
	<div class="sen-gal-col-right">
		<div class="sen-gal-share-buttons">
			
		</div>
		<a href="#fullscreen" class="sen-gal-btn-fullscreen">Pełny ekran</a>
	</div>
</header>