<header class="sen-gallery-header">
	<div class="col-left">
		<div class="counter">
			<span class="current-image-number">{{ gallery.current-image-number }}</span>/<span class="total-image-count">{{ gallery.total-image-count }}</span>
		</div>
		<h1>{{ current-image.title }}</h1>
	</div>
	<div class="col-right">
		<div class="sen-gal-share-buttons">
			
		</div>
		<a href="#fullscreen" class="sen-gal-fullscreen-btn">Pełny ekran</a>
	</div>
</header>