<div
	class="sen-gal-image thumbnail {{ active }}"
	style="background-image: url('{{ image.thumbnail }}')"
	data-index="{{ index }}"
	data-alt="{{ title }}"
	data-description="{{ description }}"></div>