{{# gallery.show-thumbs }}
<div class="sen-gal-thumbnails">
<div class="sen-gal-thumbnails-strip">
{{# images }}
	<a href="{{ link.gallery }}">{{> partials/image-thumbnail }}</a>
{{/ images }}
</div>
</div>
{{/ gallery.show-thumbs }}