// SMARTPHONES (portrait & landscape)
// **********************************************
@media #{$small-up} {
	.sen-gallery {
		width: 100%;
		font-size: rem-calc(14);
		header.sen-gallery-header {
			@include clearfix;
			.col-left {
				float: left;
				padding: rem-calc(10);
			}
			.col-right {
				float: right;
				padding: rem-calc(10);
			}
			h1 {
				margin: 0;
				padding: 0;
				font-size: rem-calc(18);
				font-weight: 400;
			}
		}
		img {
			max-width: 100%;
		}
		.sen-gallery-current-image {
			background: #000;
			position: relative;
			background-image: url('../img/image-preloader.gif');
			background-repeat: no-repeat;
			background-position: center center;
			.sen-gallery-current-image-buttons {
				width: 100%;
				height: 100%;
				position: absolute;
				overflow: hidden;
				.sen-gal-image-link-next,
				.sen-gal-image-link-prev,
				.sen-gal-image-link-direct {
					background-color: rgba(0, 0, 0, .25);
					background-position: center center;
					background-repeat: no-repeat;
					text-indent: rem-calc(-99999);
					@include transition(translate, 300ms, ease-out);
				}
				.sen-gal-image-link-next,
				.sen-gal-image-link-prev {
					position: absolute;
					width: rem-calc(64);
					height: 100%;
					top: 0;
				}
				.sen-gal-image-link-direct {
					position: absolute;
					width: rem-calc(96);
					height: rem-calc(96);
					left: 50%;
					top: 50%;
					margin-left: rem-calc(-48);
					margin-top: rem-calc(-48);
					@include border-radius(8px);
					background-image: url('../img/icon-zoom.png');
					@include background-size(50%);
					@include translate(0, rem-calc(-600));
				}
				.sen-gal-image-link-prev {
					background-image: url('../img/icon-arrow-left.png');
					left: 0;
					@include translate(rem-calc(-96));
				}
				.sen-gal-image-link-next {
					background-image: url('../img/icon-arrow-right.png');
					right: 0;
					@include translate(rem-calc(96));
				}
				&:hover {
					.sen-gal-image-link-direct {
						position: absolute;
						@include translate(0, 0);
					}
					.sen-gal-image-link-prev {
						@include translate(0);
					}
					.sen-gal-image-link-next {
						@include translate(0);
					}
					.sen-gal-image-link-direct:hover {
						width: rem-calc(128);
						height: rem-calc(128);
						margin-left: rem-calc(-64);
						margin-top: rem-calc(-64);
					}
					.sen-gal-image-link-prev:hover,
					.sen-gal-image-link-next:hover {
						width: rem-calc(128);
					}
				}
			}
		}
		.sen-gallery-current-image-description {
			background: #333;
			color: #ccc;
			padding: rem-calc(15 10 20 10);
		}
		.sen-gallery-thumbnails {
			@include clearfix;
			background: #111;
			padding: rem-calc(5);
			overflow: hidden;
			.sen-gallery-thumbnails-strip {
				width: auto;
				margin: 0 auto;
				a {
					display: inline-block;
					width: rem-calc(120);
					padding: rem-calc(5);
				}
			}
		}
	}


	// NO JS VERSION
	// -------------
	.sen-gallery.no-js {
		.sen-gal-fullscreen-btn {
			display: none;
		}
		.sen-gallery-thumbnails {
			text-align: center;
			.sen-gallery-thumbnails-strip {
				display: inline-block;
			}
		}
	}
}
@media #{$small-only} {}