// TABLETS - LANDSCAPE & OLD DESKTOPS
// **********************************************
@media #{$large-up} {
	.sen-gallery {
		.sen-gal-current-image-frame {
			.sen-gal-current-image-buttons {
				.sen-gal-image-link-next,
				.sen-gal-image-link-prev{
					@include background-size(auto);
					width: rem-calc(72);
					@include opacity(1);
				}
				.sen-gal-image-link-direct {
					display: block;
					position: absolute;
					width: rem-calc(96);
					height: rem-calc(96);
					left: 50%;
					top: 50%;
					margin-left: rem-calc(-48);
					margin-top: rem-calc(-48);
					@include border-radius(8px);
					background-image: url('../img/icon-zoom.png');
					@include background-size(50%);
					@include translate(0, rem-calc(-600));
				}
				.sen-gal-image-link-next,
				.sen-gal-image-link-prev,
				.sen-gal-image-link-direct {
					background-color: rgba(0, 0, 0, .33);
					@include transition(translate, 300ms, ease-out);
				}
				.sen-gal-image-link-direct {
					@include translate(0, rem-calc(-600));
				}
				.sen-gal-image-link-prev {
					@include translateX(rem-calc(-96));
				}
				.sen-gal-image-link-next {
					@include translateX(rem-calc(96));
				}
				&:hover {
					.sen-gal-image-link-direct {
						@include translate(0, 0);
					}
					.sen-gal-image-link-prev {
						@include translateX(0);
					}
					.sen-gal-image-link-next {
						@include translateX(0);
					}
					.sen-gal-image-link-direct:hover {
						width: rem-calc(144);
						height: rem-calc(144);
						margin-left: rem-calc(-72);
						margin-top: rem-calc(-72);
					}
					.sen-gal-image-link-prev:hover,
					.sen-gal-image-link-next:hover {
						width: rem-calc(144);
					}
				}
			}
		}
		&.js {
			// THUMBNAIL STRIP
			.sen-gal-thumbnails {
				.sen-gal-move-strip-left,
				.sen-gal-move-strip-right {
					@include transition(translate, 300ms, ease-out);
					background-color: rgba(0, 0, 0, .5);
					@include opacity(1);
				}
				.sen-gal-move-strip-right {
					@include translateX(rem-calc(-64));
				}
				.sen-gal-move-strip-left {
					@include translateX(rem-calc(64));
				}
				&:hover {
					.sen-gal-move-strip-right:not(.hidden) {
						@include translateX(0);
					}
					.sen-gal-move-strip-left:not(.hidden) {
						@include translateX(0);
					}
					.sen-gal-move-strip-right:not(.hidden):hover,
					.sen-gal-move-strip-left:not(.hidden):hover {
						width: rem-calc(80);
					}
				}
			}
			// FULLSCREEN TEMPLATE
			&.sen-gallery-fullscreen {
				.sen-gal-fullscreen-topbar {
					.sen-gal-fullscreen-btn-close-fullscreen {
					}
				}
				.sen-gal-fullscreen-content-frame {
					.sen-gal-fullscreen-main-content {
						.sen-gal-current-image-frame{
							.sen-gal-image {
							}
						}
						.sen-gal-thumbnails {
						}
					}
					.sen-gal-fullscreen-sidebar {
						left: auto;
						bottom: auto;
						top: 0;
						right: 0;
						width: rem-calc(320);
						.sen-gal-image-meta {
							.sen-gal-header {
							}
							.sen-gal-current-image-description {
								span {
								}
							}
						}
						.sen-gal-sidebar-custom-content {
							display: block;
						}
					}
				}
			}
		}
	}
}
@media #{$large-only} {}