// TABLETS - PORTRAIT
// **********************************************
@media #{$medium-up} {
	.sen-gallery {
		&.js {
			&.sen-gallery-fullscreen {
				.sen-gal-fullscreen-topbar {
					height: rem-calc(60);
					.sen-gal-fullscreen-btn-close-fullscreen {
						top: rem-calc(20);
						right: rem-calc(20);
					}
				}
				.sen-gal-fullscreen-content-frame {
					.sen-gal-fullscreen-main-content {
						.sen-gal-current-image-frame{
							.sen-gal-image {
							}
						}
						.sen-gal-thumbnails {
							display: block;
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
						}
					}
					.sen-gal-fullscreen-sidebar {
						.sen-gal-image-meta {
							padding: rem-calc(20);
							.sen-gal-header {
								background: none;
								border: none;
								margin-bottom: rem-calc(24);
							}
							.sen-gal-current-image-description {
								background: none;
								span {
									padding: 0;
								}
							}
						}
						.sen-gal-sidebar-custom-content {
							
						}
					}
				}
			}
		}
	}
}
@media #{$medium-only} {
	.sen-gallery.js {
		&.sen-gallery-fullscreen {
			.sen-gal-fullscreen-content-frame {
				.sen-gal-fullscreen-main-content {
				}
				.sen-gal-fullscreen-sidebar {
					height: rem-calc(200);
					background: #000;
				}
			}
		}
	}
}